p{
    margin-top: 0;
    font-family: Roboto;
}

.body{
    padding-bottom: 50px;
    margin-top: 80px;
    margin-left: 95px;
    margin-right: 24px;
    background-color: rgb(250, 248, 248);
}

a{
    text-decoration: none;
}