.header{
    height: 55px;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgb(232, 228, 228);
    z-index: 100;
}

.notification-alert{
    background-color: rgb(187, 2, 2);
    color: white;
    position: absolute;
    right: 0;
    top: 2px;
    width: 13px;
    height: 13px;
    border-radius: 6px;
    font-family: Roboto, Arial;
    font-size: x-small;
    text-align: center;
    z-index: 1;
}

.notification-icon-alert{
    position: relative;
}

.left-section{
    width: 155px;
    display: flex;
    align-items: center;
}

.hamburger-icon{
    height: 24px;
    margin-left: 23px;
    margin-right: 23px;
    cursor: pointer;
}

.youtube-logo-icon{
    height: 20px;
    cursor: pointer;
}

.middle-section{
    margin-left: 70px;
    margin-right: 35px;
    max-width: 480px;
    display: flex;
    flex: 1;
    align-items: center;
}

.search-box{
    height: 37px;
    width: 0;
    margin-right: -2px;
    display: flex;
    flex: 1;
    font-family: Roboto;
    font-size: 16px;
    padding-left: 10px;
    border-color: rgb(193, 193, 193);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    box-shadow: inset 1px 2px 0.15px rgba(119, 118, 118, 0.1);
}

.search-box::placeholder{
    font-family: Roboto;
    color: gray;
}

.search-icon-button{
    height: 41px;
    width: 54px;
    border-color: rgb(193, 193, 193);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    margin-right: 10px;
    background-color: rgb(244, 244, 244);
    position: relative;
    cursor: pointer;
}

.search-icon-button,
.voice-search-icon-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notification-icon-alert {
    display: flex;
    justify-content: center;
    align-items: center;
}


.search-icon-button .tooltip,
.voice-search-icon-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notification-icon-alert .tooltip {
    font-family: Roboto, Arial;
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notification-icon-alert .tooltip{
    bottom: -23px;
}

.notification-icon-alert .tooltip{
    bottom: -38px;
}

.search-icon-button:hover .tooltip,
.voice-search-icon-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notification-icon-alert:hover .tooltip {
    opacity: 1;
}

.voice-search-icon-button{
    height: 41px;
    width: 43px;
    border-radius: 21px;
    border: none;
    background-color: rgb(250, 248, 248);
    position: relative;
    cursor: pointer;
}

.search-icon{
    height: 22px;
}

.voice-search-icon{
    height: 22px;
}

.right-section{

    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.upload-icon{
    height: 25px;
    position: relative;
    cursor: pointer;
}

.youtube-apps-icon{
    height: 24px;
    position: relative;
    cursor: pointer;
}

.notification-icon{
    height: 25px;
    position: relative;
    cursor: pointer;
}

.yt-user{
    height: 32px;
    border-radius: 16px;
    margin-right: 20px;
    cursor: pointer;
}


@media (max-width: 600px) {

  .header {
    height: 50px;
    padding: 0 6px;
  }

  .left-section {
    width: auto;
  }

  .hamburger-icon {
    height: 20px;
    margin-left: 8px;
    margin-right: 12px;
  }

  .youtube-logo-icon {
    height: 18px;
  }

  .middle-section {
    margin-left: 4px;
    margin-right: 4px;
    flex: 1;
    max-width: none;
  }

  .search-box {
    height: 32px;
    font-size: 13px;
    padding-left: 8px;
    flex: 1;
    width: auto;
  }

  .search-icon-button {
    height: 34px;
    width: 60px;
    margin-right: 6px;
  }

  .voice-search-icon-button {
    height: 34px;
    width: 34px;
  }

  .search-icon,
  .voice-search-icon {
    height: 18px;
  }
}
