.sidebar{
    background-color: white;
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 70px;
    z-index: 200;
}

.sidebar-link{
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link:hover{
    background-color: lightgray;
}

.sidebar-link img{
    height: 24px;
    margin-bottom: 5px;
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;
}