.grid-view{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}

@media (max-width: 859px) {
    .grid-view{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 860px) and (max-width: 1124px){
    .grid-view{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1125px) {
    .grid-view{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.thumbnail-section{
    position: relative;
}

.video-time{
    position: absolute;
    background-color: black;
    color: white;
    right: 5px;
    bottom: 9px;
    font-family: Roboto, Arial;
    font-size: 12px;
    font-weight: 600;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
}

.channel-icon{
    width: 36px;
    border-radius: 18px;
}

.thumbnails{
    width: 100%;
    cursor: pointer;
}

.video-info{
    margin-top: 10px;
    margin-left: 10px;
}

.channel-image{
    margin-top: 10px;
    cursor: pointer;
}

.video-heading{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    line-height: 20px;
    color: black;
}

.video-author{
    margin-bottom: 4px;
    font-size: 12px;
    color: rgb(96, 96, 96);
    cursor: pointer;
}

.video-stats{
    margin-bottom: 0;
    font-size: 12px;
    color: rgb(96, 96, 96);
}